
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %} {% endblock %}

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% block css %} {% endblock %}
</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">

    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0 text-white">
    
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
          
        <div class="pl-4 flex items-center">
          <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="{{url_for('index')}}"> 
            DATAMED
          </a>
        </div>
    
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 hover:text-white mr-4 text-lg" href="#HeartFailure">
                <button id="navAction" 
                class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">
                  HEART FAILURE
                </button>
              </a>
            </li>
            <li class="mr-3">
              <a class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 hover:text-white mr-4 text-lg" href="#BreastCancer">
                <button id="navAction" 
                class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">
                  BREAST CANCER
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
    <!-- Nav End -->
  

  {% block body %}{% endblock %}


  <script src="/Static/js/main.js"></script>
   {% block js %} {% endblock %}  
</body>

</html>